* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

main {
  padding: 2rem 0;
}

.to-do-list {
  list-style-type: none;
  padding: 0;
  width: clamp(40rem, 80vw, 80rem);
  margin: 0 auto;
  box-shadow: 0 0 0.5rem 0.3rem rgba(0, 0, 0, 0.4);
}

.common {
  position: relative;
  padding: 0.7em 0;
  border: 1px solid rgb(197, 194, 194);
  font-size: 3rem;
}

.dynamic li {
  position: relative;
  padding: 0.7em 0;
  border: 1px solid rgb(197, 194, 194);
  font-size: 3rem;
}

span[contenteditable="true"] {
  border: none;
  outline: none;
  display: inline-block;
  color: blue;
  width: 90%;
}

.item {
  background-color: yellow;
}

.fas,
.clear {
  cursor: pointer;
}

.fa-upload,
.fa-sync-alt,
.fa-ellipsis-v {
  position: absolute;
  right: 2rem;
  color: gray;
  font-size: 2.2rem;
}

.fa-upload {
  top: 2rem;
}

.delete {
  position: absolute;
  right: 1.5rem;
  top: 2rem;
  color: gray;
  display: none;
  font-size: 2.5rem;
}

.to-do {
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
}

.task-description {
  vertical-align: middle;
  margin-left: 0.5rem;
}

#input {
  padding: 0;
  font-size: 0;
}

#add {
  display: inline-block;
  width: 100%;
  padding: 2.5rem 0;
  font-size: 2.5rem;
  padding-left: 1em;
}

#add::placeholder {
  font-style: italic;
}

#clear {
  text-align: center;
  background-color: rgb(192, 188, 188);
}

#clear > button {
  background-color: rgb(192, 188, 188);
  border: none;
  font-size: 2.5rem;
}

#clear > button:hover {
  text-decoration: underline black;
}
